/* Import a professional font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply the font to the body and text elements */
body, h1, h2, h3, p, button {
    font-family: 'Roboto', sans-serif;
}

/* Background for everything */
body {
    background-color: lightblue; /* Light grey background color */
}


/* splash page */
.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.splash-logo {
    max-width: 90%; 
    max-height: 90%;
    display: block;
    margin: 0 auto; 
}

.splash-title {
    position: absolute;
    left: 50%;
    top: 2%; 
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: rgb(18, 15, 15);
    text-align: center;
    -webkit-text-stroke: 1px rgb(18, 17, 17);
    text-shadow: 2px 2px 5px rgba(228, 24, 24, 0.3);
}

.centered-button {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: blue;
    color: rgb(247, 243, 243);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.centered-button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .splash-logo {
        max-width: 80%; 
    }
    }

    .centered-button {
        font-size: 1rem; 
}

/* splash page styling Ends here here */



/* Titles for pages*/
.main-title-menu {
    font-size: 75px; 
    color: black;
}

.main-title-cart{
    font-size: 75px; 
    color: black;
}

/*  ends here */


/* main menu page */

.search-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.cardContent-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }


.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

.add-to-cart-button {
    position: fixed;
    bottom: 0px;
    background-color: blue !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    font-weight: bold !important;
    font-size: 14px !important;
    cursor: pointer !important;
    border: none !important;
    text-transform: none !important; 
    text-align: center;
}


.button-wrapper {
        display: flex;
        justify-content: center;
    }

/* ends here */



/* Buttons for navigation */

.menu-smooth-shop-button {
    font-size: 20px !important; 
}

.checkout-smooth-shop-button {
    font-size: 20px !important; 
}

.checkout-button  {
    font-size: 20px !important; 
}

.shop-button {
    font-size: 20px !important; 
}
/* ends here */